* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, #root, .App {
  height: 100%;
}

h1 {
  font-size: 24px;
}

.intro {
  margin-top: 5px;
  font-size: 14px;
}

.page-content {
  padding: 10px 15px 20px 32px;
}

.field {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.result {
  margin: 0 auto;
  max-width: 450px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.field {
  margin: 15px 0;
}

.field-content {
  width: 100%;
}

.word-break {
  height:10px;
  display: block;
}

.field-input,
.result-input {
  display: inline-block;
  max-width:38px;
  max-height:38px;
  min-height: 38px;
  text-align: center;
  font-size: 16px;
  -webkit-appearance: none;
  outline: none;
  border: 1px solid gray;
  margin-right: 15px;
}

.result-form {
  margin: 30px 0;
}

.result-input {
  position: absolute;
  right: 0;
  bottom: 0;
}

.input-checkbox {
  width: 20px;
  height: 20px;
}

.input-text {
  font-size: 14px;
  padding-left: 5px;
  height: 30px;
  width: 200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

input[type="tel"],
input[type="email"] {
  width:200px;
  font-size: 16px;
  height: 30px;
  display: inline-block;
  margin-left:20px;
}

.field-title {
  font-size: 13px;
}

.field-description {
  font-size: 12px;
  font-style: italic;
}

.result-scale > span {
  display: block;
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
}

.result-scale {
  position: relative;
}

.checkbox-parent {
  display: flex;
  flex-flow:row nowrap;
  margin-bottom:30px;
}

.checkboxes {
  display: flex;
  flex-flow: column nowrap;
  align-items: space-between;
  justify-content: space-between;
  margin-left: 20px;
}

.input-text,
.input-checkbox {
  display: block;
  margin: 10px 0;
}

.result-content {
  width: 100%;
  position: relative;
}

.scale-info {
  display: block;
  height: auto;
  font-size: 11.5px;
}

.scale-info > span {
  margin-right: 7px;
}

.button {
  display: inline-block;
  margin: 0 15px 10px 0;
  border: 2px solid #DD6E2D;
  padding: 5px;
  text-decoration: none;
  color: black;
  font-weight: 300;
  border-radius: 10px;
}

.button:first-child {
  margin-left: 0;
}

.button:last-child {
  margin-right: 0;
}

.sent {
  color: green;
}

.none {
  color: green;
}

.mild {
  color: green;
}

.moderate {
  color: #ECA93B;
}

.accute {
  color: #D12E26;
}

.inactive {
  color: #C3C3C3;
}

.banners {
  position: fixed;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 20px;
} 

[class^="banner-"] {
  height: 100%;
}

hr {
  border: 1px solid black;
  display: block;
  margin-top: 10px;
}

.active {
  background-color: #DD6E2D;
  color: white;
}

.small-span {
  display: inline-block;
  margin: 15px 0;
  font-size: 14px;
}

.banner-1 {
  background-color: #ECA93B;
}
.banner-2 {
  background-color: #BB2753;
}
.banner-3 {
  background-color: #DD6E2D;
}
.banner-4 {
  background-color: #A0251A;
}
.banner-5 {
  background-color: #D12E26;
}

.landing {
  text-align:center;
  max-width: 300px;
  margin: 50px auto;
}

.landing > a,
.landing > img {
  display: block;
}

.landing > p {
  text-align: left;
}

.link {
  display: inline-block;
  padding: 10px;
  background-color: #D12E26;
  color: white;
  margin: 20px 0 40px;
  text-decoration: none;
  font-size: 16px;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.previous {
  margin-right: 15px;
  text-decoration: none;
  color: #D12E26;
  padding: 10px;
}

.link-results {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.logo-footer {
  display: inline-block;
  min-width: 200px;
  max-width:200px;
}

footer {
  background-color: #ededed;
  padding: 40px;
  width:100%;
}

.footer-flex {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-child {
  padding: 10px;
  margin: 10px 0;
  max-width: 400px;
}

.container {
  max-width: 450px;
  margin: 0 auto;
}

.copyright {
  opacity: .5;
}

.pain-scale {
  max-width: 450px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.top-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin:20px 0;
  width:100%;
}

.settings-icon,
.info-icon {
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width:100%;
  height:100%;
}

.info-icon {
  background-image: url('/info.svg');
}

.settings-icon {
  background-image: url('/settings.svg');
}

.settings-box,
.info-box {
  width:100%;
  background-color: #ededed;
  padding: 15px;
  margin-bottom: 20px;
}

.info-link {
  display: inline-block;
  width:33px;
  height: 33px;
}

.settings-link {
  display: inline-block;
  width: 28px;
  height: 28px;
  opacity: 1;
}

.info-icon:hover {
  background-image: url('/info-filled.svg');
}

.info-filled {
  background-image: url('/info-filled.svg');
}

.settings-content {
  margin:10px 0;
  display: flex;
  flex-flow: row nowrap;
}

.settings-content > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.settings-content > div > label,
.settings-content > div > input {
  display: inline-block;
  margin: 5px 0;
}

.settings-content > div:last-child {
  margin-left: 20px;
}

.spinner {
  /* margin: 100px auto 0; */
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 12px;
  height: 12px;
  background-color: #D12E26;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@media screen and (min-width: 500px) {
  .title {
    font-size: 26px;
  }

  .intro {
    font-size: 17px;
  }

  .field-title {
    font-size: 15px;
  }

  .field-description {
    font-size: 14px;
  }

  .button {
    font-size: 14px;
    padding: 7px;
  }

  .pain-scale {
    margin: 40px auto;
  }

  .result {
    margin: 40px auto;
  }
}

.checkbox-labels {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.checkbox-container {
  display: block;
  position: relative;
  height:30px;
  width:30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container:last-child {
  margin: 0;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 11px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}